:root {
	--mainWhite: #f4f4f4f4;
	--mainDark: #333333;
	--mainOrange: #ff9f75;
	--mainGreen: #359292;
}

body {
	background: var(--mainWhite);
	font-family: "Rubik", sans-serif;
	color: var(--mainDark);
}

.show-btn {
	border-color: var(--mainOrange);
	color: var(--mainOrange);
	background: transparent;
}

.show-btn:hover {
	background: var(--mainOrange);
	color: var(--mainWhite);
}

.question-card {
	display: none;
	position: relative;
	background: transparent;
	border-color: var(--mainOrange);
}

.feedback {
	display: none;
}

textarea {
	border-radius: 0.25rem;
	border-color: var(--mainOrange);
}

.close-btn {
	position: absolute;
	top: 0;
	right: 2%;
	font-size: 2rem;
	color: var(--mainOrange);
	cursor: pointer;
}

.close-btn:hover {
	color: hsl(18, 100%, 60%);
}

.submitBtn {
	border: 0.2rem solid var(--mainGreen);
	color: var(--mainGreen);
	background: transparent;
}

.submitBtn:hover {
	background: var(--mainGreen);
	color: var(--mainWhite);
}

.edit-flashcard {
	border: 0.2rem solid var(--mainGreen);
	color: var(--mainGreen);
	background: transparent;
}

.edit-flashcard:hover {
	background: var(--mainGreen);
	color: var(--mainWhite);
}

.delete-flashcard {
	border: 0.2rem solid var(--mainOrange);
	color: var(--mainOrange);
	background: transparent;
}

.delete-flashcard:hover {
	background: var(--mainOrange);
	color: var(--mainWhite);
}

.answer {
	display: none;
}

.showItem {
	display: block;
}
